.container {
  margin: 0 auto;
  outline: 2px solid red;
  width: 1000px;
  padding: 10px;
}

@media (max-width: 520px) {
  .container {
    margin: 0 auto;
    outline: 2px solid red;
    width: 280px;
  }
}
