.loader-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader-container .loader {
  margin-top: 200px;
}

.loader {
  position: relative;
  width: 75px;
  height: 100px;
}

.loader__bar {
  position: absolute;
  bottom: 0;
  width: 10px;
  height: 50%;
  background: rgb(0, 0, 0);
  transform-origin: center bottom;
  box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
}

.loader__bar:nth-child(1) {
  left: 0px;
  transform: scale(1, 0.2);
  animation: barUp1 4s infinite;
}

.loader__bar:nth-child(2) {
  left: 15px;
  transform: scale(1, 0.4);
  animation: barUp2 4s infinite;
}

.loader__bar:nth-child(3) {
  left: 30px;
  transform: scale(1, 0.6);
  animation: barUp3 4s infinite;
}

.loader__bar:nth-child(4) {
  left: 45px;
  transform: scale(1, 0.8);
  animation: barUp4 4s infinite;
}

.loader__bar:nth-child(5) {
  left: 60px;
  transform: scale(1, 1);
  animation: barUp5 4s infinite;
}

.loader__ball {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 10px;
  height: 10px;
  background: rgb(44, 143, 255);
  border-radius: 50%;
  animation: ball624 4s infinite;
}

@keyframes ball624 {
  0% {
    transform: translate(0, 0);
  }
  5% {
    transform: translate(8px, -14px);
  }
  10% {
    transform: translate(15px, -10px);
  }
  17% {
    transform: translate(23px, -24px);
  }
  20% {
    transform: translate(30px, -20px);
  }
  27% {
    transform: translate(38px, -34px);
  }
  30% {
    transform: translate(45px, -30px);
  }
  37% {
    transform: translate(53px, -44px);
  }
  40% {
    transform: translate(60px, -40px);
  }
  50% {
    transform: translate(60px, 0);
  }
  57% {
    transform: translate(53px, -14px);
  }
  60% {
    transform: translate(45px, -10px);
  }
  67% {
    transform: translate(37px, -24px);
  }
  70% {
    transform: translate(30px, -20px);
  }
  77% {
    transform: translate(22px, -34px);
  }
  80% {
    transform: translate(15px, -30px);
  }
  87% {
    transform: translate(7px, -44px);
  }
  90% {
    transform: translate(0, -40px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes barUp1 {
  0% {
    transform: scale(1, 0.2);
  }
  40% {
    transform: scale(1, 0.2);
  }
  50% {
    transform: scale(1, 1);
  }
  90% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 0.2);
  }
}
@keyframes barUp2 {
  0% {
    transform: scale(1, 0.4);
  }
  40% {
    transform: scale(1, 0.4);
  }
  50% {
    transform: scale(1, 0.8);
  }
  90% {
    transform: scale(1, 0.8);
  }
  100% {
    transform: scale(1, 0.4);
  }
}
@keyframes barUp3 {
  0% {
    transform: scale(1, 0.6);
  }
  100% {
    transform: scale(1, 0.6);
  }
}
@keyframes barUp4 {
  0% {
    transform: scale(1, 0.8);
  }
  40% {
    transform: scale(1, 0.8);
  }
  50% {
    transform: scale(1, 0.4);
  }
  90% {
    transform: scale(1, 0.4);
  }
  100% {
    transform: scale(1, 0.8);
  }
}
@keyframes barUp5 {
  0% {
    transform: scale(1, 1);
  }
  40% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1, 0.2);
  }
  90% {
    transform: scale(1, 0.2);
  }
  100% {
    transform: scale(1, 1);
  }
}
#content {
  display: none;
}

.Btn {
  width: 120px;
  height: 45px;
  background-color: rgb(65, 64, 64);
  border: none;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.342);
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  position: relative;
  overflow: hidden;
  transition-duration: 0.5s;
}

.text {
  color: rgb(181, 160, 255);
  font-weight: 800;
  letter-spacing: 1.1px;
  z-index: 2;
}

.svgIcon {
  z-index: 2;
}

.svgIcon path {
  fill: rgb(181, 160, 255);
}

.Btn:hover {
  color: rgb(181, 160, 255);
}

.effect {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: rgb(181, 160, 255);
  border-radius: 50%;
  z-index: 1;
  opacity: 0;
  transition-duration: 0.5s;
}

.Btn:hover .effect {
  transform: scale(15);
  transform-origin: center;
  opacity: 1;
  transition-duration: 0.5s;
}

.Btn:hover {
  box-shadow: 0px 0px 5px rgb(181, 160, 255), 0px 0px 10px rgb(181, 160, 255), 0px 0px 30px rgb(181, 160, 255);
  transition-duration: 0.7s;
}

.Btn:hover .text {
  color: rgb(65, 64, 64);
}

.Btn:hover .svgIcon path {
  fill: rgb(65, 64, 64);
}

.button-wrapper {
  display: flex;
  gap: 20px;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
}

@media (max-width: 520px) {
  .button-wrapper {
    margin-top: 20px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .Btn {
    justify-content: center;
    align-items: center;
  }
}
.button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(20, 20, 20);
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 0px 4px rgba(180, 160, 255, 0.253);
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
  position: relative;
}

.svgIcon {
  width: 12px;
  transition-duration: 0.3s;
}

.svgIcon path {
  fill: white;
}

.button:hover {
  width: 140px;
  border-radius: 50px;
  transition-duration: 0.3s;
  background-color: rgb(181, 160, 255);
  align-items: center;
}

.button:hover .svgIcon {
  /* width: 20px; */
  transition-duration: 0.3s;
  transform: translateY(-200%);
}

.button::before {
  position: absolute;
  bottom: -20px;
  content: "Back";
  color: white;
  /* transition-duration: .3s; */
  font-size: 0px;
}

.button:hover::before {
  font-size: 13px;
  opacity: 1;
  bottom: unset;
  /* transform: translateY(-30px); */
  transition-duration: 0.3s;
}

.text-area {
  width: 100%;
  height: 250px;
}

@media (max-width: 520px) {
  .text-area {
    width: 100%;
  }
}
h1, .main-h1 {
  text-align: center;
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}
h1 a, .main-h1 a {
  color: rgb(181, 160, 255);
}

a {
  color: 0;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

span {
  text-align: center;
  font-family: sans-serif;
  display: block;
  padding: 0;
  padding-top: 10px;
  margin: 0;
}

@media (max-width: 520px) {
  h1 {
    text-align: center;
    font-family: sans-serif;
    font-size: 20px;
    padding: 0;
    margin: 0;
  }
}
.container {
  margin: 0 auto;
  width: 1000px;
  padding: 10px;
}

@media (max-width: 520px) {
  .container {
    margin: 0 auto;
    width: 280px;
  }
}
body {
  background-color: #ffffff;
  background-image: radial-gradient(rgba(12, 12, 12, 0.171) 2px, transparent 0);
  background-size: 30px 30px;
  background-position: -5px -5px;
  position: relative;
}

* {
  box-sizing: border-box;
}

img {
  width: 300px;
  height: 120px;
  opacity: 0.3;
  display: block;
  position: fixed;
  bottom: 0;
  left: 0;
}

@media (max-width: 520px) {
  img {
    display: none;
  }
}
.program-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  padding: 0;
  gap: 30px;
}

.program-list__ a {
  padding: 0;
  margin: 0;
  color: black;
  font-family: sans-serif;
  font-weight: 700;
  font-size: 22px;
  position: relative;
  text-decoration: none;
}

.program-list__ a::before {
  content: "";
  width: 0;
  height: 2px;
  border-radius: 2px;
  background-color: rgb(181, 160, 255);
  position: absolute;
  bottom: -5px;
  left: 0;
  transition: width 0.4s ease-out;
}

.program-list__ a:hover::before {
  width: 100%;
}

.program-list__ a:hover {
  color: darkblue;
  font-weight: 700;
}

.accent a {
  color: blueviolet;
  font-weight: 500;
  font-size: 22px;
}

.accent a:hover {
  color: darkblue;
}

.accent a {
  color: blueviolet;
  position: relative;
  text-decoration: none;
}

.accent a::before {
  content: "";
  width: 0;
  height: 2px;
  border-radius: 2px;
  background-color: blueviolet;
  position: absolute;
  bottom: -5px;
  left: 0;
  transition: width 0.4s ease-out;
}

.accent a:hover::before {
  width: 100%;
}

.accent a:hover {
  color: darkblue;
}

.notifications-container {
  margin-top: 20px;
  width: 100%;
  height: auto;
  font-size: 20px;
  line-height: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.flex {
  display: flex;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

.alert {
  background-color: rgb(254, 252, 232);
  border-left-width: 4px;
  border-color: rgb(250, 204, 21);
  border-radius: 0.375rem;
  padding: 1rem;
}

.alert-svg {
  height: 1.25rem;
  width: 1.25rem;
  color: rgb(250, 204, 21);
}

.alert-prompt-wrap {
  margin-left: 0.75rem;
  color: rgb(202, 138, 4);
}

.alert-prompt-link {
  font-weight: 500;
  color: rgb(141, 56, 0);
  text-decoration: underline;
}

.alert-prompt-link:hover {
  color: rgb(202, 138, 4);
}

@media (max-width: 900px) {
  .program-list {
    display: none;
  }
  .notifications-container {
    display: block;
  }
}
@media (min-width: 901px) {
  .notifications-container {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */